

<app-navbar></app-navbar>
<main class="profile-page py-5">
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-2 order-lg-2"*ngFor="let profile of profile">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>

                </div>
                <br>
                <br>
                <br>
                <br> <br>
                <br> <br>
                <br>
                <div >
                  <h3>{{profile.username }}</h3>
                  <h3>{{profile.email }}</h3>

                </div>
                              </div>
       
              <div class="col-lg-9 order-lg-1">
                <div class="card-profile-stats d-flex ">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <a routerLink="/user/Donations" class="btn btn-sm btn-info mr-4">Donations</a>
                    <a routerLink="/user/Issues" class="btn btn-sm btn-info mr-4">Issues</a>
                    <a routerLink="/user/Testimonial" class="btn btn-sm btn-info mr-4">Testimonials</a>
                    <a routerLink="/user/Profile" class="btn btn-sm btn-info mr-4">Profile</a>
                    <a routerLink="/user/Charities" class="btn btn-sm btn-info mr-4">Charities</a>
                  </div>
                </div>
                <form  [formGroup]="updateForm">
                  <div class="mb-3 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter password" formControlName="password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="updateForm.get('password')?.hasError('required')">Password is required</mat-error>
                      <mat-error *ngIf="updateForm.get('password')?.hasError('minlength')">Password must be at least 8 </mat-error>
                  
                    </mat-form-field>
                    </div>
                    <div class="mb-3 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter Confirm password</mat-label>
                      <input matInput [type]="hidee ? 'password' : 'text'" placeholder="Confirm password" formControlName="confirmPassword"(change)="matchError()">
                      <button mat-icon-button matSuffix (click)="hidee = !hidee" [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hidee">
                        <mat-icon>{{hidee ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
                      <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('minlength')">Password must be at least 8</mat-error>
                  
                      <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('misMatch')">Passwords do not match</mat-error>
                  
                    </mat-form-field>
                    </div>
                
                
                    <div class="col-lg-6">
                        <input type="submit" class="btn btn-primary text-white py-3"(click)="updateUser()" value="Update Password">
                    </div>
              </form>
              </div>
              
            </div>
            <div class="text-center mt-5">
              
            </div>
         
          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>