<div id="wrapper">
    <app-sidebar></app-sidebar>
  
    <div id="content-wrapper" class="d-flex flex-column">
  
      <app-nav></app-nav>
        <div class="container-fluid">
  
      
      <div class="block-header">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <h2>Testimonials List</h2>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a ><i class="zmdi zmdi-home"></i> Admin</a></li>
                      <li class="breadcrumb-item">Testimonials</li>
                    </ul>
              </div>
            
          </div>
        
      </div>
    
      <br>
      <div class="row">

      <div class="col-lg-3 "*ngFor="let testimonial of testimonials">
      
        <div class="featured-block">
            <a class="" >
                <img src="../../assets/img/{{testimonial.image }}" class="featured-block-image img-fluid" alt="">
                <br>
                <h4 class="featured-block-text">{{testimonial.username}} </h4>
                <br>
                <h4 class="featured-block-text">{{testimonial.testimonial}} </h4>
                <br>
                <h4 class="featured-block-text">{{testimonial.datetestimonial}} </h4>
                <br>
                <h4 class="featured-block-text">{{testimonial.status}} </h4>
            </a>
            <form (ngSubmit)="AcceptCharity(testimonial)"[formGroup]="AcceptForm">
                                    <input  type="hidden" formControlName="id" name="id">

                              
                               <a class="hh">        
            <button mat-fab aria-label="Example icon button with a delete icon" (click)="updateStatus('Rejected', testimonial)"class="button">
              <mat-icon>close</mat-icon>
            </button>
            
                            </a>
                            <a class="hhh">        
                                <button mat-fab aria-label="Example icon button with a delete icon" (click)="updateStatus('Accepted', testimonial)"class="button-check">
                                  <mat-icon>check</mat-icon>
                                </button>
                                
                                                </a>
                                            </form>
        </div>
    </div>
  
   </div>
    
      <ng-template #callDeleteDailog>
        <div style="padding:15px">
    <h2>Are you sure you want to delete this user?</h2>
    <button class="btn btn-primary m-1"   mat-dialog-close="yes">Yes</button>
    <button class="btn btn-danger m-1"  mat-dialog-close="no">No</button> 
    </div>
    </ng-template>  
          
  
        </div>
    </div>
  </div>
  