

<app-navbar></app-navbar>
<main class="profile-page py-5">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="section">
  <div class="container">
    <div class="card card-profile shadow mt--300">
      <div class="px-4">
        <div class="row justify-content-center">
          <div class="col-lg-2 order-lg-2"*ngFor="let profile of profile">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="../../assets/img/{{profile.image }}" class="rounded-circle">
              </a>
         
            
            </div>
                          </div>
   
          <div class="col-lg-9 order-lg-1">
            <div class="card-profile-stats d-flex ">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a routerLink="/user/Donations" class="btn btn-sm btn-info mr-4">Donations</a>
                <a routerLink="/user/Issues" class="btn btn-sm btn-info mr-4">Issues</a>
                <a routerLink="/user/Testimonial" class="btn btn-sm btn-info mr-4">Testimonials</a>
                <a routerLink="/user/Profile" class="btn btn-sm btn-info mr-4">Profile</a>
                <a routerLink="/user/Charities" class="btn btn-sm btn-info mr-4">Charities</a>
                <a> 
                  <button mat-fab color="primary"class="add-button"(click)="OpenDialogTestimonial()" aria-label="Example icon button with a delete icon">
                      <mat-icon>add</mat-icon>
                  </button>
                </a>
              </div>
            </div>
            <div class="container">
              <div class="row">
  
                  <div class="col-lg-8 col-12 mx-auto">
  
                      <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
  
                          <div class="carousel-inner">
                              <div class="carousel-item active"*ngFor="let testimonial of testimonials">
                                  <div class="carousel-caption">
                                      <h4 class="carousel-title">{{ testimonial.testimonial }}</h4>
  
                                      <small class="carousel-name"><span class="carousel-name-title">{{ testimonial.username }}</span>
                                          </small>
                                  </div>
                              </div>
  
                              <ol class="carousel-indicators">
                                  <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active"*ngFor="let testimonial of testimonials">
                                      <img src="../../assets/img/{{ testimonial.image }}"
                                          class="img-fluid rounded-circle avatar-image" alt="avatar">
                                  </li>
                                 
                             
                                
                              </ol>
  
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
          </div>
          
        </div>
        <div class="text-center mt-5">
          
        </div>
     
      </div>
    </div>
  </div>
</section>
  
  </main>
  <ng-template #callCreateDialog>
    <div class="mat-dialog-container">
      <div class="dialog-header">
        <h2>Add a Testimonial</h2>
     
      </div>
      <form class="example-container" [formGroup]="CreateForm" >
  
      
        <mat-form-field appearance="fill">
          <mat-label>Testimonial</mat-label>
          <textarea matInput rows="4" placeholder="Enter testimonial" formControlName="testimonial"required></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="addTestimonial()" >Add Testimonial</button>
      </form>
    </div>
  </ng-template>
  
  <app-footer></app-footer>