

.btn-custom {
    background-color:   #fbf9ff; /* Change to your desired color */
    color: #2e2e2e;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color:   #3cc78f; /* Change to a darker shade for hover effect */
}
.mat-dialog-container {
    padding: 24px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .dialog-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }

  .example-container {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .custom-button {
    align-self: flex-end;
    background-color: #3cc78f;
    color: #ffffff;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper .mat-error {
    color: #ff0000; /* Red color for error message */
  }