<div id="wrapper">
    <app-sidebar></app-sidebar>
  
    <div id="content-wrapper" class="d-flex flex-column">
  
      <app-nav></app-nav>
      <div class="container-fluid">
  
      
      <div class="block-header">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <h2>Pages List</h2>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a ><i class="zmdi zmdi-home"></i> Admin</a></li>
                      <li class="breadcrumb-item">Pages</li>
                    </ul>
              </div>
            
          </div>
        
      </div>
    
      <br>
      <button mat-fab color="primary"class="add-button"(click)="OpenDialogselectPage()" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
      <br>

      <div class="row pages">
        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0" *ngFor="let home of home">
        
         
                            <div class="card card-lift--hover shadow featured-block d-flex justify-content-center align-items-center">
                              <a class="close">        
                                <button mat-fab aria-label="Example icon button with a delete icon"(click)="openDeleteDailog(home.id)"class="button">
                                  <mat-icon>close</mat-icon>
                                </button>
                                
                              </a>
                                 <a class="edit">        
                                     <button mat-fab aria-label="Example icon button with a delete icon" (click)="openEditHomeDailog(home)"class="button-check">
                                      <mat-icon>edit</mat-icon>
                                   </button>
                                                  
                                 </a>

                              <div class="custom-block">
                                <div class="row">

                                  <img src="../../assets/img/{{home.slide1}}" class="custom-block-image img-fluid img" alt="">

                                  <img src="../../assets/img/{{home.slide2}}" class="custom-block-image img-fluid img" alt="">

                                  <img src="../../assets/img/{{home.slide3}}" class="custom-block-image img-fluid img" alt="">

                                  <img src="../../assets/img/{{home.logo}}" class="custom-block-image img-fluid img" alt="">
                                  </div>

                                  <div class="custom-block-body">
                                      
                                      <h3 class="mb-3">{{home.title }}</h3>
              
                                      <p>{{home.content }}</p>
                                      <p>{{home.email }}</p>
                                      <p>{{home.phone }}</p>
                                      <p>{{home.location }}</p>

                                  
                                      </div>
              
                                  </div>
              
                              </div>
                            </div>
          
          
                            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0" *ngFor="let about of about">
          
         
                              <div class="card card-lift--hover shadow featured-block d-flex justify-content-center align-items-center">
                                    <a class="close">        
                                <button mat-fab aria-label="Example icon button with a delete icon"(click)="openDeleteDailog(about.id)"class="button">
                                  <mat-icon>close</mat-icon>
                                </button>
                                
                              </a>
                                 <a class="edit">        
                                     <button mat-fab aria-label="Example icon button with a delete icon" (click)="openEditAboutDailog(about)"class="button-check">
                                      <mat-icon>edit</mat-icon>
                                   </button>
                                                  
                                 </a>
                                 
                                <div class="custom-block">
                                    <img src="../../assets/img/{{about.slide1}}" class="custom-block-image img-fluid" alt="">
                
                                    <div class="custom-block-body">
                                        
                                        <h3 class="mb-3">{{about.title }}</h3>
                
                                        <p>{{about.content }}</p>
                                    
                                        </div>
                
                                    </div>
                
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0" *ngFor="let page of contact">
          
                                <a class="close">        
                                  <button mat-fab aria-label="Example icon button with a delete icon"(click)="openDeleteDailog(page.id)"class="button">
                                    <mat-icon>close</mat-icon>
                                  </button>
                                  
                                </a>
                                   <a class="edit">        
                                       <button mat-fab aria-label="Example icon button with a delete icon" (click)="openEditContactDailog(page)"class="button-check">
                                        <mat-icon>edit</mat-icon>
                                     </button>
                                                    
                                   </a>
                                   
                                <div class="card card-lift--hover shadow featured-block d-flex justify-content-center align-items-center">
                                  
                                  <div class="custom-block">
                                      <img src="../../assets/img/{{page.slide1}}" class="custom-block-image img-fluid" alt="">
                  
                                      <div class="custom-block-body">
                                          
                                          <h3 class="mb-3">{{page.charityname }}</h3>
                  
                                          <p>{{page.mission }}</p>
                  
                                      
                                          </div>
                  
                                      </div>
                  
                                  </div>
                                </div>
                
       
        </div>
     
      </div>

          
          
          
      
      

        
      <ng-template #selectPage>
        <div style="padding:15px">
    
      <h4>select page</h4>
      <mat-form-field>
        <mat-label>Pages</mat-label>
        <mat-select>
          <mat-option (click)="OpenDialogAddHome()">
            Home
          </mat-option>
          <mat-option (click)="OpenDialogAddContact()">
            Contact
          </mat-option>  
          <mat-option (click)="OpenDialogAddAbout()">
            About
          </mat-option>
        </mat-select>
      </mat-form-field>
     
    </div>
    </ng-template>  
          
    
    
  <ng-template #callDelete>
    <div style="padding:15px">
<h2>Are you sure you want to delete this item?</h2>
<button class="btn btn-primary m-1"   mat-dialog-close="yes">Yes</button>
<button class="btn btn-danger m-1"  mat-dialog-close="no">No</button> 
</div>
</ng-template>  
      
<ng-template #callCreateHomeDialog>
  <div class="mat-dialog-container">
    <div class="dialog-header">
      <h2>Add home page </h2>
   
    </div>
    <mat-stepper [linear]="isLinear" #stepper class="stepper">
      <mat-step [stepControl]="addHome"label="Contents">
        <br>
        <form [formGroup]="addHome">
          <div class="form-field-spacer"></div>
          <mat-form-field appearance="outline">
            <mat-label>Enter title</mat-label>
            <input matInput type="text" placeholder="Enter title" formControlName="title">
            <mat-error *ngIf="addHome.get('title')?.hasError('required')">title is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Content</mat-label>
              <textarea matInput type="text" placeholder="Enter Content" formControlName="content" ></textarea>

            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="text" placeholder="Enter Email" formControlName="email">

            </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="text" placeholder="Enter Phone" formControlName="phone" >

          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput type="text" placeholder="Enter Location" formControlName="location" >

          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
     
      
        <mat-step [stepControl]="addHome" label="Slides & Logo">
          <div class="form-field-spacer"></div>
  
          <form [formGroup]="addHome">
            <div>
                    <label>Slide1</label>

                    <input type="file"    #slide1   (change)="Slide1(slide1.files)">
            </div>

                    <br>
            <div>

                    <label>Slide2</label>

                    <input type="file"      #slide2   (change)="Slide2(slide2.files)">
           </div>

                    <br>
            <div>

                    <label>Slide3</label>

                    <input type="file"    #slide3   (change)="Slide3(slide3.files)">
            </div>
                    <br>
            <div>

                    <label>Logo</label>

                    <input type="file"    #logo   (change)="Logo(logo.files)">
                    
              
              </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="addHomePage()"[disabled]="!addHome.valid" >Add</button>
            </div>
          </form>
        </mat-step>
    
   
    </mat-stepper>

  </div>
</ng-template>


<ng-template #callEditAboutDailog>
  <div class="mat-dialog-container">
  <div class="dialog-header">
  <h2>Edit About</h2>
  </div>
  <mat-stepper [linear]="isLinear" #stepper class="stepper">
    <mat-step [stepControl]="editAbout"label="Contents">
      <br>
      <form [formGroup]="editAbout">
        <div class="form-field-spacer"></div>
        <mat-form-field appearance="outline">
          <mat-label>Enter title</mat-label>
          <input matInput type="text" placeholder="Enter title" formControlName="title">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput type="text" placeholder="Enter Content" formControlName="content" ></textarea>
          </mat-form-field>
       
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
   
    
      <mat-step [stepControl]="editAbout" label="background">
        <div class="form-field-spacer"></div>

        <form [formGroup]="editAbout">
          <div>
                  <label>Slide1</label>

                  <input type="file"    #slide1   (change)="Slide1(slide1.files)">
          </div>

        
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="updateAboutPage()"[disabled]="!editAbout.valid" >Edit</button>
          </div>
        </form>
      </mat-step>
  
 
  </mat-stepper>
  
  </div>
  </ng-template>

  <ng-template #callCreateAboutDialog>
    <div class="mat-dialog-container">
    <div class="dialog-header">
    <h2>Add About</h2>
    </div>
    <mat-stepper [linear]="isLinear" #stepper class="stepper">
      <mat-step [stepControl]="addAbout"label="Contents">
        <br>
        <form [formGroup]="addAbout">
          <div class="form-field-spacer"></div>
          <mat-form-field appearance="outline">
            <mat-label>Enter title</mat-label>
            <input matInput type="text" placeholder="Enter title" formControlName="title">
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Content</mat-label>
              <textarea matInput type="text" placeholder="Enter Content" formControlName="content" ></textarea>
            </mat-form-field>
         
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
     
      
        <mat-step [stepControl]="addAbout" label="background">
          <div class="form-field-spacer"></div>
  
          <form [formGroup]="addAbout">
            <div>
                    <label>Slide1</label>
  
                    <input type="file"    #slide1   (change)="Slide1(slide1.files)">
            </div>
  
          
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="addAboutPage()"[disabled]="!addAbout.valid" >Add</button>
            </div>
          </form>
        </mat-step>
    
   
    </mat-stepper>
    
    </div>
    </ng-template>
    

<ng-template #callEditHomeDailog>
<div class="mat-dialog-container">
<div class="dialog-header">
<h2>Edit Home</h2>
</div>
<mat-stepper [linear]="isLinear" #stepper class="stepper">
  <mat-step [stepControl]="editHome"label="Contents">
    <br>
    <form [formGroup]="editHome">
      <div class="form-field-spacer"></div>
      <mat-form-field appearance="outline">
        <mat-label>Enter title</mat-label>
        <input matInput type="text" placeholder="Enter title" formControlName="title">
        <mat-error *ngIf="addHome.get('title')?.hasError('required')">title is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea matInput type="text" placeholder="Enter Content" formControlName="content" ></textarea>

        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Enter Email" formControlName="email">

        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="text" placeholder="Enter Phone" formControlName="phone" >

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput type="text" placeholder="Enter Location" formControlName="location" >

      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
 
  
    <mat-step [stepControl]="editHome" label="Slides & Logo">
      <div class="form-field-spacer"></div>

      <form [formGroup]="editHome">
        <div>
                <label>Slide1</label>

                <input type="file"    #slide1   (change)="Slide1(slide1.files)">
        </div>

                <br>
        <div>

                <label>Slide2</label>

                <input type="file"      #slide2   (change)="Slide2(slide2.files)">
       </div>

                <br>
        <div>

                <label>Slide3</label>

                <input type="file"    #slide3   (change)="Slide3(slide3.files)">
        </div>
                <br>
        <div>

                <label>Logo</label>

                <input type="file"    #logo   (change)="Logo(logo.files)">
                
          
          </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="updateHomePage()"[disabled]="!editHome.valid" >Edit</button>
        </div>
      </form>
    </mat-step>


</mat-stepper>


</div>
</ng-template>

