
<app-navbar></app-navbar>

<section class="contact-section section-padding" id="section_6">
  <div class="container">
      <div class="row">

          <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
              <div class="contact-info-wrap">
                  <h2>Get in touch</h2>

               
                  <div class="contact-info">
                      <h3 class="mb-3">Contact Infomation</h3>

                      <p class="d-flex mb-2">
                          <i class="bi-geo-alt me-2"></i>
                          Akershusstranda 20, 0150 Oslo, Norway
                      </p>

                      <p class="d-flex mb-2">
                          <i class="bi-telephone me-2"></i>

                          <a href="tel: 305-240-9671">
                              305-240-9671
                          </a>
                      </p>

                      <p class="d-flex">
                          <i class="bi-envelope me-2"></i>

                          <a href="mailto:info@yourgmail.com">
                              donate@charity.org
                          </a>
                      </p>

                      <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-6 col-12 mx-auto">
              <form class="custom-form contact-form" [formGroup]="addContact">
                  <h2>Contact form</h2>

                 
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" formControlName="contactname" id="first-name" class="form-control"
                              placeholder="Name" required>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                          <input type="text" formControlName="subject" id="last-name" class="form-control"
                              placeholder="Subject" required>
                      </div>
                  </div>
                  <input type="text" name="phone" id="email" formControlName="phone" class="form-control"
                  placeholder="Phone" required>

                  <input type="email" name="email" id="email" formControlName="email"pattern="[^ @]*@[^ @]*" class="form-control"
                      placeholder="Email" required>

                  <textarea  rows="5" formControlName="message" class="form-control" id="message"
                      placeholder="Message"></textarea>

                  <button type="submit" class="form-control" (click)="addMessage()"[disabled]="!addContact.valid" >Send Message</button>
              </form>
          </div>

      </div>
  </div>
</section>
  
<app-footer></app-footer>