
<nav class="navbar navbar-expand-lg bg-light shadow-lg"[ngClass]="{ 'sticky-element': isSticky }">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" class="logo img-fluid" alt="Kind Heart Charity">
            <span>
                Kind Heart Charity
                <small>Non-profit Organization</small>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="/about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" routerLink="#section_3">Causes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Volunteer</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link custom-btn custom-border-btn btn"  routerLink="/contact">Contact</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link custom-btn custom-border-btn btn"[matMenuTriggerFor]="menu"*ngIf="user">     
                                             <mat-icon>notifications</mat-icon>
        
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Profile</span>
                        </button>
                       
                        <button mat-menu-item>
                          <mat-icon>notifications</mat-icon>
                          <span>Disable alerts</span>
                        </button>
                      </mat-menu>
                </li>
                <li class="nav-item dropdown"*ngIf="user">
                    <a  class="nav-link custom-btn custom-border-btn btn"[matMenuTriggerFor]="menu">
                        {{username}}
                                        </a>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/user/Profile">
                            <mat-icon>account_circle</mat-icon>
                            <span>Profile</span>
                          </button>
                          
                        <button mat-menu-item  (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Sing Out</span>
                        </button>
                      </mat-menu>
                </li>

                <li class="nav-item ms-3"*ngIf="!user">
                    <a class="nav-link custom-btn custom-border-btn btn" routerLink="/auth/login">Sing In</a>
                </li>
                
                <li class="nav-item ms-3" *ngIf="!user">
                    <a class="nav-link custom-btn custom-border-btn btn" routerLink="/auth/register">Sing Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
