
  <main>
    <section class="section section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
            
              <div class="card-body px-lg-5 py-lg-5">
                <form role="form" [formGroup]="verificationForm">
                    <div class="verification-code">
                    
                        <input type="text" formControlName="verificationcode1" maxlength="1" (input)="onCodeInput(1, $event)">
                        <input type="text" formControlName="verificationcode2" maxlength="1" (input)="onCodeInput(2, $event)">
                        <input type="text" formControlName="verificationcode3" maxlength="1" (input)="onCodeInput(3, $event)">
                        <input type="text" formControlName="verificationcode4" maxlength="1" (input)="onCodeInput(4, $event)">
                        <input type="text" formControlName="verificationcode5" maxlength="1" (input)="onCodeInput(5, $event)">
                        <input type="text" formControlName="verificationcode6" maxlength="1" (input)="onCodeInput(6, $event)">
                      </div>
                      <div class="spinner-container">
                        <div class="spinner" [style.animation-duration.s]="timerValue + 's'">
                          <div class="mask"></div>
                        </div>
                        <div class="timer">
                          {{ timerValue }}
                        </div>
                      </div>
                      

                </form>
             
                <form role="form" [formGroup]="resetForm">
                   
                    <div class="form-group" [ngClass]="{'focused':focus2===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" placeholder="Password" type="text"(blur)="matchError()" formControlName="newpassword" (focus)="focus2=true">
                          
                        </div>
                        <div *ngIf="resetForm.get('newpassword')?.invalid && (resetForm.get('newpassword')?.dirty || resetForm.get('newpassword')?.touched)"
                        class="error-message">
                        <div *ngIf="resetForm.get('newpassword')?.errors?.['required'] as requiredError"class="text-danger">
                            passsword is required
                        </div>
                        <div *ngIf="resetForm.get('newpassword')?.errors?.['minlength'] as minlengthError"class="text-danger">
                            Password should be mor than 8 digit.
                        </div>
                        </div> 
                      </div>
                   
                      <div class="form-group" [ngClass]="{'focused':focus2===true}">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" placeholder="Repeat Password"(blur)="matchError()"type="password" formControlName="repeatPassword"(focus)="focus2=true" >
                        </div>
                        <div *ngIf="resetForm.get('repeatPassword')?.invalid && (resetForm.get('repeatPassword')?.dirty || resetForm.get('repeatPassword')?.touched)"
                        class="error-message">
                        <div *ngIf="resetForm.get('repeatPassword')?.errors?.['required'] as requiredError"class="text-danger">
                            Repeat Password is required
                        </div>
                        <div *ngIf="resetForm.get('repeatPassword')?.errors?.['minlength'] as minlengthError"class="text-danger">
                            Repeat Password should be mor than 8 digit.
                        </div>
                  
                        <div *ngIf="resetForm.get('repeatPassword')?.hasError('misMatch')"
                        class="error-message"class="text-danger">Passwords do not match</div>
                        </div>
                      </div>
                
                  <div class="custom-control custom-control-alternative custom-checkbox">
                   
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" [disabled]="!resetForm.valid"(click)="resetpassword()">Reset</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
             
              <div class="col-6">

                <a (click)="toLogin()" class="text-light link">
                  <small>Do you have account?</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  